.main-border {
    grid-area: chart;
    border-radius: 5px;
    color: $white;
    font-family: sans-serif;
    @include container-properties;
    .main {
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 5px;
        background: radial-gradient(
            farthest-side at -20% 120%,
            $white -200%,
            $black 100%
        );
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        .main__data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 3%;
            font-size: 7px;
            .data__name {
                font-weight: normal;
                font-family: $title;
                font-size: 2em;
                display: flex;
                align-items: center;
                .name__logo {
                    margin-right: 5px;
                    height: 1em;
                }
            }
            .data__price {
                display: flex;
                align-items: center;
                font-family: $title;
                font-size: 1.7em;
                overflow: hidden;
                .fa-arrow-up {
                    margin-left: 5px;
                    color: #00a500;
                    animation: arrowUp 2s linear infinite;
                }
                .fa-arrow-down {
                    margin-left: 5px;
                    color: rgb(230, 28, 28);
                    animation: arrowDown 2s linear infinite;
                }
            }
        }
        @media (orientation: portrait) and (min-width: 760px) {
            .main__data {
                font-size: 0.9em;
            }
        }
        @media (orientation: landscape) and (min-width: 1024px) {
            .main__data {
                font-size: 0.7em;
            }
        }
        @media (orientation: landscape) and (min-width: 1300px) {
            .main__data {
                font-size: 1em;
            }
        }
        .main__chart {
            display: flex;
            justify-content: center;

            flex-direction: column;
            height: 100%;
            padding: 1%;
            padding-bottom: 3%;

            position: relative;

            .chart__period {
                top: 10%;
                right: 3%;
                align-self: flex-end;
                .period__button {
                    background-color: transparent;
                    border: none;
                    color: $white;
                    padding: 5px 10px;
                    font-size: 0.8em;
                    font-family: $content;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .period__button:hover {
                    background-color: #222;
                }
                .period__button--active {
                    background-color: $light-grey;
                }
                @media (orientation: landscape) {
                    font-size: 0.6em;
                }

                @media (orientation: landscape) and (min-width: 1300px) {
                    font-size: 0.9em;
                }
            }

            .chart__loading {
                display: none;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 45%;
                left: 0;
                width: 100%;
                font-family: $content;
                font-size: 7px;
            }

            .chart__loading::before {
                content: '';
                display: block;
                //background-color: red;
                width: 20px;
                height: 20px;
                margin-bottom: 12px;
                border-radius: 50%;
                border-top: 2px solid $white;
                border-right: 2px solid $white;

                animation: spin 0.7s linear infinite;
            }

            @media (orientation: landscape) and (min-width: 1300px) {
                .chart__loading {
                    font-size: 16px;
                }

                .chart__loading::before {
                    width: 40px;
                    height: 40px;
                    border-top: 3px solid $white;
                    border-right: 3px solid $white;
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
@keyframes arrowUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
.main-border::before {
    @include animated-border;
}
@include border-animation;
